.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

::selection {
    background-color: brown;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* default classes start*/

.default-width {
    width: 90%;
}

/* default classes start*/
/* banner section start */
.new-year-section {
    height: 450px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.new-year-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-year-section h3 {
    color: white;
    font-size: 20px;
}

.new-year-section h1 {
    font-size: 50;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

/* banner section end */
/* discount banner start */
.discount-content {
    max-width: 70%;
    padding: 30px;
    text-align: center;
}

.discount-content h1 {
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    margin: 10px 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.discount-content p {
    color: red;
    margin: 10px 20px;
}

.discount-content h3 {
    font-weight: bold;
    margin: 10px 20px;
}

.discount-content img {
    width: 100%;
    margin: 10px 20px;
}

/* discount banner end */

/* welcome section start */

.welcome-section {
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    position: relative;
}

.welcome-content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}

.welcome-content h2 {
    font-size: 50px;
    text-transform: capitalize;
}

.welcome-content p {
    padding: 20px 0;
}

.welcome-content h5 {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* welcome section end */

/* join section start */
.join-section {
    background-image: linear-gradient(rgba(255, 0, 0, .1), rgba(255, 0, 0, 0));
    margin: 30px auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 150px;
}

.join-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-section .join-section-content>h4 {
    padding: 5px 0;
}

.join-section-content button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px 0;
    text-transform: uppercase;
    color: white;
}

/* join section end */

/* new offer section start */

.new-offer-container{
    display: flex;
    justify-content: space-between;
    
    margin: 50px;
}
.new-offer-container > div {
    width: 33%;
}
.new-offer-container-img{
    text-align: center;
}
.new-offer-container-img img{
    height: 200px;
    padding: 10px;
    border: 7px solid red;
    border-radius: 50%;
    margin-bottom: 20px;
}
.new-offer-container-first-div h5{
    font-size: 15px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    padding: 5px 0;
}
.new-offer-container-first-div h3{
    font-size: 30px;
    text-transform: capitalize;
    padding: 5px 0;
}
.new-offer-container-first-div p{
    padding: 5px 0;
    color: #070211;
}
.new-offer-container-second-div h3{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
}
.new-offer-container-second-div p{
    padding: 5px 0;
    color: #070211;
}
.new-offer-container-second-div img{
    padding: 10px 0;
    height: 100px;
}

/* new offer section end */
/* holiday sale start */

.hodiday-sale-texts{
    text-align: center;
}
.hodiday-sale-texts h5{
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
}
.hodiday-sale-texts h1{
    font-weight: bolder;
    font-size: 3rem;
    padding: 10px;
}
.hodiday-sale-texts .holiday-h1{
    color: red;
}
.hodiday-sale-texts p{
    color: #070211;
    padding: 10px 10px 30px 10px;
}


.holiday-images{
    text-align: center;
    position: relative;
}
.hd-img-1{
    display: inline-block;
    width: 45%;
}
.hd-img-2{
    display: inline-block;
    width: 45%;
}
 .hd-img-1 img{
    height: 300px;
 }
.hd-img-2 img{
    height: 200px;
    width: 200px;
    margin: 120px;
}
.hd-bg-img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 100px;
}
/* holiday sale end */
/* the best gifts starts */
.the-best-gifts{
    margin: 20px auto;
}
.tbs-headings h5{
    color: red;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 3px;
}
.tbs-headings h2{
    text-transform: capitalize;
    padding: 3px 0;
}
.tbs-headings p{
    color: #070211;
    padding: 3px 0;
}
.tbs-cards{
    display: flex;
}
.tbs-cards img{
    width: 33.33%;
    padding: 20px 10px 10px 0;
}
/* the best gifts ends */
/* subscribe section start */
.subscribe-section{
    width: 90%;
    background-color: rgba(255, 0, 0, 0.05);
    position: relative;
    height: 400px;
    border-radius: 5px;
}
.subscribe-section .subs-sec-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.subs-sec-text h2{
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
.subs-sec-text p{
    color: #070211;
}
.subscribe{
    padding: 10px;
}
.subscribe input{
    padding: 20px;
    font-size: rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}
.subscribe button{
    padding: 20px;
    font-size: rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    background-color: red;
}
/* subscribe section end */