.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  .inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}
::selection{
    background-color: brown;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.default-width{
    width: 90%;
}
/* banner section start */
.new-year-section{
    height: 450px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.new-year-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-year-section h3{
    color: white;
    font-size: 20px;
}
.new-year-section h1{
    font-size: 50;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}
/* banner section end */
/* discount banner start */
.discount-content{
    max-width: 70%;
    padding: 30px;
    text-align: center;
}
.discount-content h1{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    margin: 10px 20px;
    font-size: 50px;
    margin-bottom: 20px;
}
.discount-content p{
    color: red;
    margin: 10px 20px;
}
.discount-content h3{
    font-weight: bold;
    margin: 10px 20px;
}
.discount-content img{
    width: 100%;
    margin: 10px 20px;
}
/* discount banner end */

/* welcome section start */

.welcome-section{
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    position: relative;
}
.welcome-content{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}
.welcome-content h2{
    font-size: 50px;
    text-transform: capitalize;
}
.welcome-content p{
    padding: 20px 0;
}
.welcome-content h5{
    padding: 20px 0;
    text-transform: uppercase;
}
/* welcome section end */

